In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("stroke prediction.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [12]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [13]:
continuous=['age','avg_glucose_level','bmi']
discrete_categorical=[ 'gender', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 
       'smoking_status', 'stroke']

In [21]:
df['ever_married'].value_counts()

ever_married
Yes    27938
No     15462
Name: count, dtype: int64

In [22]:
df['stroke'].value_counts()

stroke
0    42617
1      783
Name: count, dtype: int64

In [25]:
pd.crosstab(df['ever_married'],df['stroke'],margins=True)

stroke            0    1    All
ever_married
No            15382   80  15462
Yes           27235  703  27938
All           42617  783  43400

In [33]:
df['age_category']=pd.cut(df['age'],bins=[0,12,19,30,60,90],labels=['child','youth','adult','middle_aged','senior'])
pd.crosstab(df['age_category'],df['stroke'],margins=True)

stroke            0    1    All
age_category
child          5325    1   5326
youth          3184    1   3185
adult          5723    2   5725
middle_aged   18453  200  18653
senior         9932  579  10511
All           42617  783  43400