In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("stroke prediction.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [4]:
df.shape

(43400, 12)

In [5]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,43400.000000,43400.000000,43400.000000,43400.000000,43400.000000,41938.000000,43400.000000
mean,36326.142350,42.217894,0.093571,0.047512,104.482750,28.605038,0.018041
std,21072.134879,22.519649,0.291235,0.212733,43.111751,7.770020,0.133103
min,1.000000,0.080000,0.000000,0.000000,55.000000,10.100000,0.000000
25%,18038.500000,24.000000,0.000000,0.000000,77.540000,23.200000,0.000000
50%,36351.500000,44.000000,0.000000,0.000000,91.580000,27.700000,0.000000
75%,54514.250000,60.000000,0.000000,0.000000,112.070000,32.900000,0.000000
max,72943.000000,82.000000,1.000000,1.000000,291.050000,97.600000,1.000000

In [6]:
df.duplicated().sum()

0

In [7]:
df.isnull().sum()

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                   1462
smoking_status       13292
stroke                   0
dtype: int64

In [8]:
(df.isnull().sum()/len(df))*100

id                    0.000000
gender                0.000000
age                   0.000000
hypertension          0.000000
heart_disease         0.000000
ever_married          0.000000
work_type             0.000000
Residence_type        0.000000
avg_glucose_level     0.000000
bmi                   3.368664
smoking_status       30.626728
stroke                0.000000
dtype: float64

In [9]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [10]:
discrete_categorical=['gender','ever_married','work_type','Residence_type','smoking_status','hypertension','heart_disease','stroke']
continuous=['age','avg_glucose_level','bmi']

In [11]:
df['age'].skew()

-0.10249737146133675

In [12]:
df[continuous].skew()

age                 -0.102497
avg_glucose_level    1.675405
bmi                  0.898728
dtype: float64

##### Skewness of age is negative, i.e it is Left Skewed which means few extreme datapoints lie in left part and more
##### no. lie in right part i.e data contains people of higher age more.

In [13]:
df['avg_glucose_level'].skew()

1.6754049014377763

In [14]:
df['log_avg_glucose_level']=np.log(df['avg_glucose_level'])
df['log_avg_glucose_level'].skew()

0.9325457821038275

In [15]:
df['log_avg_glucose_level'].head()

0    4.555139
1    4.476882
2    4.708539
3    4.234686
4    5.083142
Name: log_avg_glucose_level, dtype: float64

In [16]:
df['root_avg_glucose_level']=(df['avg_glucose_level'])**(1/2)
df['root_avg_glucose_level'].skew()

1.3184435216491535

In [17]:
from scipy.stats import boxcox
df['box_avg_glucose_level'],param=boxcox(df['avg_glucose_level'])
df['box_avg_glucose_level'].skew()

0.06694120438639986

In [18]:
param

-1.0854686782891663

In [19]:
df['exp_age']=np.exp(df['age'])
df['exp_age'].skew()

8.182190781985346

In [20]:
df['pow_age']=(df['age'])**2
df['pow_age'].skew()

0.651987619140339